{% extends 'base.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'css/events-details.css' %}" media="screen">
    <section class="u-align-center u-clearfix u-image u-shading u-section-1" id="carousel_790c" data-image-width="1980"
             data-image-height="1243">
        <div class="u-clearfix u-sheet u-valign-middle-lg u-sheet-1">
            <a href="" class="u-btn u-button-style u-hover-palette-1-dark-1 u-palette-1-base u-btn-1">edit event </a>
            <a href="" class="u-btn u-button-style u-hover-palette-1-dark-1 u-palette-1-base u-btn-2">delete event </a>
            <div class="u-form u-form-1">
                <form id="status-form" class="u-clearfix u-form-horizontal u-form-spacing-10 u-inner-form"
                      style="padding: 10px;">
                    <div class="u-form-email u-form-group">
                        <label for="status-input" class="u-label u-text-color-var u-label-1">Status</label>
                        <select id="status-input" name="status" class="u-input u-input-rectangle u-radius u-input-1">
                            <option value="Will go">Will go</option>
                            <option value="Maybe">Maybe</option>
                            <option value="Not going">Not going</option>
                        </select>
                    </div>
                    <div class="u-align-left u-form-group u-form-submit">
                        <button type="button" id="status-save-btn" class="u-btn u-btn-submit u-button-style">Save
                        </button>
                    </div>
                </form>
            </div>
            <h3 class="u-text u-text-default u-text-palette-2-base u-text-1">{{ event.name }}</h3>
            {% if creator_profile %}
                <div class="creator-info">
                    <p class="creator-text">Creator</p>
                    <img src="{{ creator_profile.profile_picture_or_default }}" alt="{{ creator_profile.full_name }}"
                         class="u-border-2 u-border-palette-1-base u-image u-image-circle creator-image"
                         title="{{ creator_profile.full_name }}"">
                </div>
            {% endif %}
            <div class="custom-expanded u-align-center u-container-align-center u-container-style u-group u-radius u-shape-round u-group-1">
                <div class="u-container-layout u-container-layout-1">
                    <div class="u-container-style u-expanded-width u-group u-radius u-shape-round u-group-2">
                        <div class="u-container-layout u-container-layout-2">
                            <p class="u-text u-text-default u-text-2">{{ will_go_count }} people will go: </p>
                            <div class="u-container-style u-group u-shape-rectangle u-group-3">
                                <div class="u-container-layout u-container-layout-3">

                                    {% for profile in participants %}
                                        <div class="u-container-style u-group u-image u-preserve-proportions u-shape-circle"
                                             title="{{ profile.full_name }}"
                                             style="background-image: url('{{ profile.profile_picture_or_default }}'); background-size: cover; width: 53px; height: 53px; display: inline-block; margin: 4px;">
                                            <div class="u-container-layout"></div>
                                        </div>
                                    {% empty %}
                                        <p>No participants yet.</p>
                                    {% endfor %}

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="u-border-2 u-border-palette-1-base u-container-style u-group u-radius u-shape-round u-group-20">
                <div class="u-container-layout u-valign-top u-container-layout-20">
                    <div class="fr-view u-clearfix u-rich-text u-text u-text-3">
                        <p style="text-align: center;">{{ event.description }}</p>
                        <p style="text-align: center;">
                            <br>
                        </p>
                    </div>
                </div>
            </div>
            <div class="u-border-3 u-border-palette-1-base u-container-style u-group u-group-21">
                <div class="u-container-layout u-container-layout-21">
                    <div class="u-expanded-width u-gallery u-layout-grid u-lightbox u-show-text-on-hover u-gallery-1">
                        <div class="u-gallery-inner u-gallery-inner-1">
                            <div class="u-effect-fade u-gallery-item u-gallery-item-1">
                                <div class="u-back-slide" data-image-width="656" data-image-height="656">
                                    <img class="u-back-image u-expanded" src="{{ event.image1_url }}">
                                </div>
                                <div class="u-over-slide u-shading u-over-slide-1"></div>
                            </div>
                            <div class="u-effect-fade u-gallery-item u-gallery-item-2">
                                <div class="u-back-slide" data-image-width="1980" data-image-height="1320">
                                    <img class="u-back-image u-expanded"
                                         src="{{ event.image2_url }}">
                                </div>
                                <div class="u-over-slide u-shading u-over-slide-2"></div>
                            </div>
                            <div class="u-effect-fade u-gallery-item u-gallery-item-3">
                                <div class="u-back-slide" data-image-width="888" data-image-height="888">
                                    <img class="u-back-image u-expanded" src="{{ event.image3_url }}">
                                </div>
                                <div class="u-over-slide u-shading u-over-slide-3"></div>
                            </div>
                        </div>
                    </div>


                    <!-- Map Block (Background Image Clickable) -->
                    <div class="u-expanded-width u-grey-light-2 u-map u-map-1 map-clickable-block">
                        {% if event.location_url %}
                            <a href="{{ event.location_url }}" target="_blank" class="map-link">
                                <div class="map-image-overlay">
                                    <span class="map-view-text"> Location: {{ event.location }}</span>
                                </div>
                            </a>
                        {% else %}
                            <div class="map-image-overlay">
                                <span class="map-view-text"> No Location for: {{ event.location }}</span>
                            </div>
                        {% endif %}
                    </div>
                    <p class="u-text u-text-default u-text-4">{{ event.location }} , {{ event.city }} </p>
                    {% if event_posts %}
                        {% for post in event_posts %}
                            <h5 class="u-text u-text-default u-text-6">{{ post.text|truncatechars:30 }}...</h5>
                        {% endfor %}
                    {% else %}
                        <h5 class="u-text u-text-default u-text-6">No posts available</h5>
                    {% endif %}
                    <!-- In your template -->
                    <p class="u-text u-text-default u-text-5">
                        <span id="likes-count">{{ likes_count }}</span> likes
                    </p>
                    <span id="like-heart" class="u-icon u-icon-1{% if liked_by_me %} liked{% endif %}"
                          style="cursor:pointer;">
<script>
  document.getElementById('like-heart').addEventListener('click', function () {
      fetch("{% url 'event-like' event.id %}", {
          method: 'POST',
          headers: {
              'X-CSRFToken': '{{ csrf_token }}',
              'Content-Type': 'application/json'
          },
      })
          .then(response => response.json())
          .then(data => {
              document.getElementById('likes-count').textContent = data.likes_count;
              const heart = document.getElementById('like-heart');
              if (data.liked) {
                  heart.classList.add('liked');
              } else {
                  heart.classList.remove('liked');
              }
          })
          .catch(error => {
              console.error('Error:', error);
          });
  });
</script>

  <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 50 50">
    <use xlink:href="#svg-6915"></use>
  </svg>
  <svg class="u-svg-content" viewBox="0 0 50 50" x="0px" y="0px" id="svg-6915">
    <path style="fill:currentColor;" d="M24.85,10.126c2.018-4.783,6.628-8.125,11.99-8.125c7.223,0,12.425,6.179,13.079,13.543
      c0,0,0.353,1.828-0.424,5.119c-1.058,4.482-3.545,8.464-6.898,11.503L24.85,48L7.402,32.165c-3.353-3.038-5.84-7.021-6.898-11.503
      c-0.777-3.291-0.424-5.119-0.424-5.119C0.734,8.179,5.936,2,13.159,2C18.522,2,22.832,5.343,24.85,10.126z"></path>
  </svg>
</span>

                    <style>
                        .u-icon-1.liked svg {
                            color: red;
                            fill: red;
                        }
                    </style>

                    <script>
                        document.getElementById('like-heart').addEventListener('click', function () {
                            fetch(`/events/{{ event.id }}/like/`, {
                                method: 'POST',
                                headers: {
                                    'X-CSRFToken': '{{ csrf_token }}'
                                }
                            })
                                .then(response => response.json())
                                .then(data => {
                                    document.getElementById('likes-count').textContent = data.likes_count;
                                    const heart = document.getElementById('like-heart');
                                    if (data.liked) {
                                        heart.classList.add('liked');
                                    } else {
                                        heart.classList.remove('liked');
                                    }
                                });
                        });
                    </script>
                    {% if event_posts %}
                        {% for post in event_posts %}
                            <div class="u-text u-text-default u-text-7">
                                <strong>{{ post.user.profile.full_name }}</strong>:
                                {{ post.content }}<br>
                                <small>{{ post.created_at|date:"d M Y H:i:s" }}</small>
                            </div>
                        {% endfor %}
                    {% else %}
                        <p class="u-text u-text-default u-text-7">No posts</p>
                    {% endif %}
                    <div class="u-form u-form-2">
                        <form method="post" action="{% url 'event-details' event.id %}" class="post-form">
                            {% csrf_token %}
                            <div class="post-form-group">
                                <input type="text" name="text" class="post-input" placeholder="Post here..." required>
                                <button type="submit" class="post-submit-btn">Post</button>
                            </div>
                        </form>


                    </div>
                </div>
            </div>
        </div>
    </section>

    <script>
        document.getElementById('status-save-btn').addEventListener('click', function (e) {
            e.preventDefault();

            const statusValue = document.getElementById('status-input').value;
            const eventId = {{ event.id }};
            const csrfToken = '{{ csrf_token }}';

            fetch(`/api/events/${eventId}/status/`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrfToken
                },
                body: JSON.stringify({status: statusValue})
            })
                .then(response => {
                    if (response.ok) {
                        alert("Status saved successfully!");
                    } else {
                        alert("Failed to save status.");
                    }
                })
                .catch(err => {
                    alert("Error communicating with server.");
                });
        });
    </script>
    <script>
        document.getElementById('post-form').addEventListener('submit', function (e) {
            e.preventDefault();

            const text = document.getElementById('post-text').value;
            const csrfToken = '{{ csrf_token }}';
            const eventId = {{ event.id }};

            fetch(`/events/${eventId}/posts/`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrfToken
                },
                body: JSON.stringify({text})
            })
                .then(res => res.json())
                .then(data => {
                    console.log('Успешно добавено:', data);
                    // Можеш да покажеш новия пост веднага в DOM
                    document.getElementById('post-text').value = '';
                    alert("Post added!");
                })
                .catch(err => console.error('Грешка при добавяне:', err));
        });
    </script>


{% endblock %}