{% extends 'base.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'css/Events.css' %}" media="screen">
    <section class="u-align-center u-clearfix u-grey-80 u-section-1" id="carousel_8b03">
        <div class="u-clearfix u-sheet u-sheet-1">
            <h2 class="u-align-center u-custom-font u-font-lobster u-text u-text-default u-text-palette-1-light-2 u-text-1">
                Upcoming Events</h2>
            <div class="custom-expanded u-gallery u-layout-grid u-lightbox u-show-text-on-hover u-gallery-1">
                <div class="u-gallery-inner u-gallery-inner-1">
                    <div class="u-effect-fade u-effect-hover-zoom u-gallery-item">
                        <div class="u-back-slide" data-image-width="526" data-image-height="275">
                            <img class="u-back-image u-expanded" src="{% static 'images/lakatnik.jpg' %}"
                                 alt="Пролетен Преход: Лакатник  хижа Тръстения">
                        </div>
                        <div class="u-over-slide u-shading u-over-slide-1">
                            <h3 class="u-gallery-heading">Пролетен Преход: Лакатник хижа Тръстения</h3>
                            <p class="u-gallery-text">sample text</p>
                        </div>
                    </div>
                </div>
            </div>
            <a href="#"
               class="u-active-white u-align-left u-border-none u-btn u-btn-round u-button-style u-color-scheme-summer-time u-color-style-multicolor-1 u-hover-white u-palette-1-base u-radius-50 u-text-active-palette-5-dark-3 u-text-body-alt-color u-text-hover-palette-5-dark-3 u-btn-1"
               data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction="">more
                Info</a>
        </div>
    </section>
    <section class="u-align-center u-clearfix u-grey-80 u-section-2" id="sec-3529">
        <div class="u-clearfix u-sheet u-sheet-1">
            <h2 class="u-align-center u-custom-font u-font-lobster u-text u-text-palette-1-light-2 u-text-1">Previous Events</h2>
            <div class="u-expanded-width u-gallery u-layout-grid u-lightbox u-show-text-on-hover u-gallery-1">
                <div class="u-gallery-inner u-gallery-inner-1">
                    <div class="u-effect-fade u-effect-hover-zoom u-gallery-item">
                        <div class="u-back-slide" data-image-width="526" data-image-height="275">
                            <img class="u-back-image u-expanded" src="{% static 'images/lakatnik.jpg' %}"
                                 alt="Пролетен Преход: Лакатник  хижа Тръстения">
                        </div>
                        <div class="u-over-slide u-shading u-over-slide-1">
                            <h3 class="u-gallery-heading">Пролетен Преход: Лакатник хижа Тръстения</h3>
                            <p class="u-gallery-text">sample text</p>
                        </div>
                    </div>


                    <div class="u-effect-fade u-effect-hover-zoom u-gallery-item">
                        <div class="u-back-slide" data-image-width="740" data-image-height="833">
                            <img class="u-back-image u-expanded" src="{% static 'images/fd.jpg' %}"
                                 alt="Sample Headline">
                        </div>
                        <div class="u-over-slide u-shading u-over-slide-3">
                            <h3 class="u-gallery-heading">I see fire </h3>
                            <p class="u-gallery-text">sample text</p>
                        </div>


                    </div>

                    <div class="u-effect-fade u-effect-hover-zoom u-gallery-item">
                        <div class="u-back-slide" data-image-width="740" data-image-height="833">
                            <img class="u-back-image u-expanded" src="{% static 'images/fd.jpg' %}"
                                 alt="Sample Headline">
                        </div>
                        <div class="u-over-slide u-shading u-over-slide-3">
                            <h3 class="u-gallery-heading">I see fire </h3>
                            <p class="u-gallery-text">sample text</p>
                        </div>


                    </div>
                    <div class="u-effect-fade u-effect-hover-zoom u-gallery-item">
                        <div class="u-back-slide" data-image-width="740" data-image-height="833">
                            <img class="u-back-image u-expanded" src="{% static 'images/fd.jpg' %}"
                                 alt="Sample Headline">
                        </div>
                        <div class="u-over-slide u-shading u-over-slide-3">
                            <h3 class="u-gallery-heading">I see fire </h3>
                            <p class="u-gallery-text">sample text</p>
                        </div>


                    </div>

                       <div class="u-effect-fade u-effect-hover-zoom u-gallery-item">
                        <div class="u-back-slide" data-image-width="740" data-image-height="833">
                            <img class="u-back-image u-expanded" src="{% static 'images/fd.jpg' %}"
                                 alt="Sample Headline">
                        </div>
                        <div class="u-over-slide u-shading u-over-slide-3">
                            <h3 class="u-gallery-heading">I see fire </h3>
                            <p class="u-gallery-text">sample text</p>
                        </div>


                    </div>

                       <div class="u-effect-fade u-effect-hover-zoom u-gallery-item">
                        <div class="u-back-slide" data-image-width="740" data-image-height="833">
                            <img class="u-back-image u-expanded" src="{% static 'images/fd.jpg' %}"
                                 alt="Sample Headline">
                        </div>
                        <div class="u-over-slide u-shading u-over-slide-3">
                            <h3 class="u-gallery-heading">I see fire </h3>
                            <p class="u-gallery-text">Too hot </p>
                        </div>


                    </div>

                </div>


                <a href="#"
                   class="u-active-white u-align-left u-border-none u-btn u-btn-round u-button-style u-color-scheme-summer-time u-color-style-multicolor-1 u-hover-white u-palette-1-base u-radius-50 u-text-active-palette-5-dark-3 u-text-body-alt-color u-text-hover-palette-5-dark-3 u-btn-2"
                   data-animation-name="" data-animation-duration="0" data-animation-delay="0"
                   data-animation-direction="">more photos</a>
            </div>
    </section>

{% endblock %}
